---
config_dir: '~'

# proxy vars
proxy_enable: true
network: proxy

# portainer
portainer_enable: false

# pihole
pihole_enable: true
pihole_hostname: pihole
pihole_timezone: Asia/Kolkata
pihole_password: "secure-password"

# Cloudflare ddns
cf_ddns_enable: true
cf_token: "token"
cf_zone: "example.com"
cf_zone_subdomain: "home"
